FORM {
TEXT-ALIGN:CENTER;
BORDER:DOUBLE;
background-image: url("vkohi.jpg");
width:900px;
height:600px;
text-align:center;  
}
div{
position:relative;
left:300px;
}

UL{LIST-STYLE-TYPE:NONE;
PADDING:20PX;
COLOR:white;
background-color:black;
height:20px;
opacity:0.6;
}

.R{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:180PX;}
.S{FLOAT:LEFT;POSITION:ABSOLUTE;LEFT:430PX;}
.T{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:710PX;}
.V{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:1030PX;}
.X{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:1280PX;}

A:link{TEXT-DECORATION:NONE;
color:white;}
a:visited{color:white;}
a:active{color:white;}