FORM {
TEXT-ALIGN:CENTER;
BORDER:DOUBLE;
background-image: url("Virat.jpg");
width:900px;
text-align:center;
 }
div{position:relative;
left:180px;}
UL{LIST-STYLE-TYPE:NONE;
PADDING:20PX;
COLOR:white;
background-color:black;
height:20px;
opacity:0.6;
}

.R{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:60PX;}
.S{FLOAT:LEFT;POSITION:ABSOLUTE;LEFT:230PX;}
.T{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:430PX;}
.U{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:630PX;TOP:28PX;
FONT-SIZE:24PX;PADDING:5PX 5PX 5PX 5PX;}
.V{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:860PX;}
.X{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:1050PX;}
.Y{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:1200PX;}

A:link{TEXT-DECORATION:NONE;
color:white;}
a:visited{color:white;}
a:active{color:white;}