body{
background-image:url(image11.jpg) ;
background-repeat : no-repeat;
background-size:100%;
background-attachment:fixed;}
p{
color:black;
font-weight:bold;
font-size:20px;
}
span{
font-family:Tempus Sans ITC;
font-weight:bold;
color: mahroon;
float:right;}
header{
border-bottom:3px solid blue;
font-size:60px;
width:500px;
color: mahroon ;
border: 2px solid white;
width:100%;
background-color:white;
opacity:.8;
}

A:link{TEXT-DECORATION:NONE;
color:white;}
a:visited{color:white;}
a:active{color:white;}
summary{font-size:30px;}
section{
float:right;
padding-right:130px;}
img{
float:right;
}
UL
{LIST-STYLE-TYPE:NONE;

PADDING:20PX;

COLOR:white;

background-color:black;
height:40px;
opacity:.7;
}


.R{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:180PX;}
.S{FLOAT:LEFT;POSITION:ABSOLUTE;LEFT:430PX;}
.T{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:710PX;}
.V{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:1030PX;}
.X{FLOAT:LEFT; POSITION:ABSOLUTE;LEFT:1280PX;}

a{
color:white;
}

